
# Ignore everything in the data directory
data/*

# Ignore everything in the processed_data directory
processed_data/*
# System files
desktop.ini

# Python bytecode
__pycache__/

# macOS system files
.DS_Store