
# Ignore everything in the data directory
data/*

# Except the directory itself - this will not track any files inside but will keep the empty directory
!data/

# Ignore everything in the processed_data directory
processed_data/*

# Except the directory itself
!processed_data/
